.howToBuyGrid{
    margin-top: 50px;
  
}
.howToBuyGrid h1{ 
     margin-bottom: 50px;
}
.howToBuyMainHead{
    margin-bottom: 50px;
    text-align: center;
}
.howtoText{
    text-align: justify;
    width:100%;
    margin-left: 15%;
    
}
.howToFlex{
    align-items: center;
    display:flex;
    justify-content:space-between;
    width:50%;
    margin:auto
}
.howToFlex button{
/* margin-left: 25%; */
/* margin-right: -200px; */
row-gap: 20px;
margin-bottom: 10px;
font-size: 20px;
color: blue;
}
@media screen and (max-width:650px) {
    .howToFlex button{
        margin-left: 0;
    }
}
.LinkColor{
    color: blue; 
}
.boldText{
    font-weight: bold;
}