.footerPriceImage{
    position: relative;
}
.pricingFooter{
    position:relative;
}
.footerPriceHeading{
    text-align:center;
    position: absolute;
    margin-top: -15%;
    margin-left:35%;
}
.footerPriceButton{
    position: absolute;
    width: 200px;
    /* margin:auto; */
    display:block;
    margin-left: 42%;
    margin-top: -15%;
}
@media screen and (max-width:750px) {
    .footerPriceImage{
     position: relative;
    }
    .footerPriceHeading{
      margin-top: -120px;
      position: absolute;
      text-align: center;
        margin-right: 50px;
        
    }
    .footerPriceButton{
        margin-top: -50px;
            position: absolute;
            text-align: center;
            margin-left: -20px;
    }
}