*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .sidebarMainBox{
   

    width: 1%;
    height: 100vh;
    background-color: rgb(229, 232, 238);
      scroll-padding: 0px;
     height: 1200px;
     transform: translate(-100%);
     transition: none  0.2s;
    overflow-y: hidden;
     z-index: 100px;
      /* position: fixed; */
    /* margin-top: -200px; */
}   
.openIcon{

    position: fixed;
    height: 100vh;
   display: none;
  left: 0;
  /* margin-left: -1230px; */
  margin-top: 50px;
}
/* .openIconClose{

  display: none;
} */
.sidebarMainBoxOpen{
  position: fixed;
  transform: translate(0%);
  height: 127%;
  width: 18%;
    background-color: rgb(229, 232, 238);
    /* overflow-y: scroll; */
    scroll-padding: 0px;
    scroll-behavior: auto;
    scroll-margin-right: 0px;
    scroll-padding-right: 1px;
   
    margin-top: -90px;
}
::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track{
  width: 2px;
background: transparent;

}
::-webkit-scrollbar-thumb {
  background: #b9b8b8;
  border-radius: 4px;
}
.toggleButton{
  border: 1px solid;
}
.topMostflex{
  /* border: 1px solid; */
  align-items: center;
  margin-top: -20px;
  justify-content: center;
  gap: 0px;
  margin-left: -10px;
  
}
.toggleButton{
  border: 0px;
  margin-top: -20px;
  margin-left: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.logoImage{
  align-items: center;
}
.timeWorkIndividualFlex{
  margin-left: 30px;
  
}
.timeWorkIndividualText{
  margin-left: 20px;
  font-size: 0.9rem;
}
.timeWorkIndividualLink:hover{
  background-color: rgb(124, 124, 250);
}
/* .timeWorkIndividualFlex:hover{
  background-color: rgb(124, 124, 250);
  width: 100%;
} */
.timeWorkIndividualIcon{
  font-size: 20px;
 margin-top: 10px;
}
.timeWorkMainBox{
  margin-bottom: 20px;
  margin-top: -40px;
}
.accordion{
  overflow-y: scroll;
}
.accordionBox{
    margin-top: 0px;
    height: 230px;
    overflow-y: scroll;
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
}
.accordionIndividualFlexes{
  align-items: center;
  gap: 20px;
}
.accordionHeadingBox{
  font-size: 15px;
}
.accordionSubText{
  font-size: 14px;
}
.userProfileSection{
  margin-left: 10px;
  margin-top: 20px;
  position: fixed;
}

/* responsive odf sidebar */

@media screen and (max-width:1050px) {
    .sidebarMainBoxOpen{
      display: none;
    }
    .openIcon{
      position: static;
        right: 0;
    
     
    }
         .sidebarMainBox {
          display: initial;
            width: 50%;
            margin-top: 0px;
              margin-left: -30px;
              background-color: rgb(229, 232, 238);
              position: absolute
             }

}
