.bottom{
    width: 100%;
    height: 5rem;
    display: flex;
    border-radius: 2px;
    justify-content:space-between;
    /* border: 1px solid red; */
    padding:2rem 1rem;
    background-color: antiquewhite;
    /* position:fixed; */
    position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}
.bottom a{
    color: blue;
}
.bottom button{
    background-color: blue;
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    margin: 0 0 2rem 0;

}
