.bottom{
    width: 100%;
   height: max-content;
    display: flex;
    border-radius: 2px;
    justify-content:space-between;
    /* border: 1px solid red; */
    
    background-color: antiquewhite;
    /* position:fixed; */
    position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  padding: 10px;
}
.bottom a{
    color: blue;
}
.bottom button{
    background-color: rgb(49, 130, 206);
    color: white;
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    

}
@media screen and (max-width: 1040px){
    .bottom{
       border:px solid red;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        position: sticky;
        gap: 50px;
        
        top: 0;
    }
    .bottom button{
        margin-top: auto;
    
    }
    .bottom h1{
        text-align: justify;
    }
}
