ul {
    width:40%;
}
.blue{
    color: blue;
}
.trial{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
font-size:12px;
background-color: blue;
color: beige;
width:40%;
padding: 5px;
border-radius: 5px;
margin: 2rem 2rem;
}
.activity_img{
width: 50%;
margin: 5rem 0rem 2rem 1rem;
}
@media screen and (max-width: 1040px) {
    .control{
        display: flex;
        flex-direction:column-reverse;
        gap:  20px;
        width: 90%;
        /* margin-left: 8%; */

       
    }
 
    .control_text p{
        font-size: 2rem;
      
    }
    .control_text li{
        text-align: justify;
        font-size:13px;
        /* text-align: center; */
        width: 100%;
        margin-left:6%;
    }
    
    
}


