ul {
    width:40%;
}
.blue{
    color: blue;
}
.trial{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
font-size:12px;
background-color: blue;
color: beige;
width:40%;
padding: 5px;
border-radius: 5px;
margin: 2rem 2rem;
}
.activity_img{
width: 50%;
margin: 5rem 0rem 2rem 1rem;
}
/* @media screen and (max-width: 1040px) {
    .control-p{
        display:grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(2,1fr);
        width: 100%;
       
        
        

    }
 
    .working_time h1{
        font-size:1px;
        width: 100%;
       
        
        
    }
    .working_time p{
        font-size:25px;
    }
    .trial{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-size:0.5rem;
        border: 1px solid red;
        background-color: blue;
        color: beige;
        width:100%;
        border-radius: 5px;
        }
    
} */


