.tracking{
    
    width: 100%;
    margin:2rem 0;
    border-bottom: 1px solid grey;
}
.tracking .heading{
    width: 60%;
    margin: auto;
    margin-top: 25px;
    font-size: 42px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.trackingfeatures{
    
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    padding: 1.5rem;
    
}
.features button{
    background: none;
    width:100%;
    padding:1rem;
    /* height: 3rem; */
}
.features h1{
    text-align: center;
    font-size: 1rem;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.innertext{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(245, 255, 195);
}
.innertext h1{
    font-family: 'Abyssinica SIL', serif;
    /* border: 1px solid red; */
    padding:9rem 3rem;
    margin-bottom: 2rem;
    font-size:30px;
    color:black;
    align-items: center;
    
}
.innertext img{ 
    width: 50%;
}
.learn{
    border: 1px solid black;
    border-radius: 5px;
   margin-top: 20px;
    padding: 0.5rem;
    font-size:1.2rem;
    font-weight:normal;
    color: black;
    /* border: 1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 1040px){
    .tracking .heading{
        width:80%;
        text-align: center;
        margin-top:5%;
        font-size: 2rem;
        text-align: center;
        /* margin-left: -0.5rem; */
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    .features{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .trackingfeatures{
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-evenly;
        text-align: center;
    }
    .features h1{
        display: flex;
        
        gap: 10px;
        text-align: justify;
        margin-left: 20px;
    }
    .innertext{
        display: grid;
        width: 100%;
        margin:auto;
        grid-template-columns: repeat(1 , 1fr);
    }
   .innertext img{
        width:100%
    }
}


