.tracking{
    
    width: 100%;
    margin:2rem 0;
    border-bottom: 1px solid grey;
}
.tracking .heading{
    width: 60%;
    margin: auto;
    margin-top: 25px;
    font-size: 45px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.trackingfeatures{
    
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    padding: 1.5rem;
    
}
.features button{
    background: none;
    width:14rem;
    padding:1rem;
    height: 3rem;
}
.features h1{
    font-size: 1rem;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.innertext{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(245, 255, 195);
}
.innertext h1{
    font-family: 'Abyssinica SIL', serif;
    /* border: 1px solid red; */
    padding:9rem 3rem;
    margin-bottom: 2rem;
    font-size:2rem;
    line-height: normal;
    
    color:salmon;
    align-items: center;
    
}
.innertext img{

    padding: 2rem;

    
}
.learn{
    /* border: 1px solid red; */
    border-radius: 5px;
   margin-top: 2rem;
    padding: 0.5rem;
    font-size:1.2rem;
    font-weight:normal;
    color: blue;
    /* border: 1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 1040px){
    .tracking .heading{
        width:100%;
        margin-top:20rem;
        font-size: 2rem;
        text-align: center;
        margin-left: -0.5rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    .trackingfeatures{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    .features h1{
        display: flex;
        
        gap: 10px;
        text-align: justify;
        margin-left: 20px;
    }
    .innertext{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
    }
}


