.footer{
display: flex;
justify-content: space-evenly;
background-color: aliceblue;
width: 100%;
height:50vh;
}
.logo{
    width:10rem;
    height: 10vh;
    margin: 1.5rem 1rem;
    
}
.application h1{
    
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    
    color:black;
    
}
.application a h4{
    
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: grey;


}
.browserExtensions h1{
    
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    color: grey;
    
}
.browserExtensions a h4{
    
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:black;
}
.resources h1{
    
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    color:black;
    
}
.resources h4{
    
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   
    color: grey;
}
.about h1{
    
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    color: grey;
    
}
.about h4{
    
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:black;
    
}
@media screen and (max-width:1040px){
    .footer{
        display: flex;
        flex-direction: column;
        background-color: none;
        
        
        }
        .logo{
            width:5rem;
            height:2vh;
            
            
        }
}