.footer{
display: flex;
justify-content: space-evenly;
background-color: aliceblue;
width: 100%;
height:fit-content;
padding-bottom: 20px;
}
.logo{
    width:10rem;
    height: 10vh;
    margin: 1.5rem 1rem;
    
}
.application h1{
    
    width:70%;
    margin: 0;
    margin-top: 1.5rem;
    font-size: 2.7vh;
    font-weight: bold;
    text-align: center;
    color:#3a3e42;
    
}
.application a h4{
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #3a3e42;
}

.browserExtensions h1{    
    width:80%;
    margin-top: 1.5rem;
    font-size: 2.7vh;
    font-weight: bold;
    text-align: center;
    color: #3a3e42;
}
.browserExtensions a h4{
    
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#3a3e42;
}
.resources h1{
    
    width:50%;
   margin-top: 1.5rem;
    font-size: 2.7vh;
    font-weight: bold;
    text-align: center;
    color:#3a3e42;    
}
.resources h4{
    
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#3a3e42;
}
.about h1{
    
    width:60%;
   margin-top: 1.5rem;
    font-size: 2.7vh;
    font-weight: bold;
    text-align: center;
    color: #3a3e42;    
}
.about h4{
    
    display: flex;
    width:100%;
    margin: 1.5rem 1.5rem;
    font-size:2.3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#3a3e42;
    
}
