.gssecond{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding-left: 130px;
    padding-top: 100px;
    padding-bottom: 50px;
    align-items: center;
    background-color: #ffffff;
}

.mytime_right{
    width: 34%;
    /* margin: 3rem ; */
}

.mytime_left {
    margin-left: 20px;
}

.mytime_left img{
    width:70%;
    /* margin:2rem 3rem 1rem 0; */
}
.mytime_right h1{
    font-weight:bolder;
    font-size:55px;
    width: 100%;
    color: black;
}
.mytime_right p{
    font-size:16px;
    font-weight: bold;
   margin: 0.5rem 0;
    text-align: start;
    letter-spacing: 1px;
}
.emailinput{
   border: transparent;
   margin: 0.5rem 0;
   
}
.getstarted{
    display : flex;
}
.getstarted button {
    border: none;
    width: 30%;
    height:3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: blue;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    color: white;
}
.getstarted h2 {
    font-size:1rem;
    padding:0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.apps{
    width: 90%;
    height:10rem;
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(7 ,1fr);
    margin:auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.apps img{
    background-color: transparent;
    width: 9rem;
    padding: 1rem;
   
}
.apps img:hover{
    box-shadow: rgba(237, 235, 236, 0.4) 5px 5px, rgba(188, 185, 187, 0.3) 10px 10px, rgba(195, 183, 191, 0.2) 15px 15px, rgba(251, 237, 246, 0.1) 20px 20px, rgba(161, 159, 160, 0.05) 25px 25px;
    
}
.gssecond_heading{
    font-size: "60px";
}


@media screen and (max-width: 1040px){
    .gssecond{
        
        display:  flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        margin-top: 50px;
        
    }
    .gssecond_stack{
        
        font-weight:bolder;
        font-size:1rem;
        width: 100%;
        
    
    }
    .gssecond_heading{
        
        font-size: 20px;
        width: 100%;
        text-align: center;

    }
    .mytime_left img{
        width:100%;
        margin:auto;
        margin-left: -1rem;
    
    }
    .getstarted button {
        border: none;
        width:40%;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: blue;
        margin: 0rem 1.5rem 1.5rem 1.5rem;
        color: white;
    }
    .apps{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       box-shadow: none;
        margin: auto;
        margin-left: 20%;
       
        
    }
}





