.navbr{
    width: 100%;
    height:14vh;
    display: flex;
    border-radius: 2px;
    justify-content:space-between;
    background-color: #fff0b8;
    position:fixed;
    z-index: 1;
    
}
.navbr .navbr-bg{
    background-color: whitesmoke;
    transition: 0.3s;
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.logo img{
    width:18rem;
    height:5rem;
    
}
.header_content{
    width: 50rem;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.header_content button{
    border: none;
    background-color: transparent;
    font-size:1.2rem;
    font-weight: bold;
    color: rebeccapurple;
    padding: 0.5rem;   
    margin: 0;
}
.entry{
   margin: 0;
    width:13rem;
    padding: 0.5rem;
    margin: 1rem 1rem;
    padding: 1rem 0;
}
.entry .login{
    font-size:1.5rem;
    font-weight: bold;
    padding: 0.5rem;   
    margin: 0;
    
}
.list{
    margin-top:1.9rem;
    width:100%;
    height:35rem;
    display: flex;
    justify-content:space-around;
    background-color: #d8ebff;
   
    
}
.overview > h1{
    text-decoration: underline;
    grid-gap: 2px;
    padding: 20px;
    color: grey;
    font-size: 2.5rem;
    
}
.overview div h1{
    color: blueviolet;
    
}
.overview div p{
    color: rgb(155, 79, 79);
    width: 60%;
    font-size: 1.2rem;
    margin: 0 1.5rem;
    
}
.features > h1{
    text-decoration: underline;
    grid-gap: 1px;
    padding: 20px;
    color: grey;
    font-size: 2.5rem;
    
}
.features div h1{
    color: blueviolet;
    
}
.features div p{
    color: rgb(155, 79, 79);
    width: 80%;
    font-size: 1.2rem;
    margin: 0 1.5rem;
    
}

.list h1{
    
    grid-gap: 2px;
    padding: 20px;
    font-weight: bold;
    font-size:1.5rem;

}
.features{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
   width: 70%;
    grid-gap:1px;
    padding: 20px;
    /* color: grey;
    font-size: 2.5rem; */
    
}
.entry .signup{
    border: 1px solid rebeccapurple;
    font-size:1.5rem;
    font-weight: bold;
    color: rebeccapurple;
    padding: 0.5rem;   
    border-radius: 10px;
    margin: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.psb {
    border: none;
    background-color: transparent;
    font-size:1.2rem;
    font-weight: bold;
    color: rgb(164, 116, 108);
    padding: 0.5rem;   
    margin: 0;
}

.view{
    font-family: 'Abyssinica SIL', serif;
    grid-gap: 2px;
    padding: 20px;
    color: rgb(5, 34, 249);
    font-size:1.5rem;

}
@media screen and (max-width: 1040px){
    .navb{
    flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        transition: 2s;
        background-image:url("https://www.meshpros.com/images/bg/hmk1.jpg");
        position: absolute;
        top: 0;
        left:-100%;
        z-index: -3;
        transition: 0.3s;
    }

};
    


