.review{
    width: 100%;
    text-align: center;
    padding: 40px 10px;
    background-color: #feeebc;
    align-items: center;
}

.review h1{
    font-size:40px;
    font-weight:bolder;    
}
.stars{
    display: flex;
    justify-content: center;
    
}
.review h2{
    font-size:42px;
    font-weight:bold;
    color: rgb(49, 130, 206);
    
}
.business{
    width:100%;
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #f6f7f8;

}
.business h3{
    font-size: 1.5rem;
}
.business_image{
    margin: 1rem 0;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
@media screen and  (max-width:1040px) {
    .reviews_image{
        display:flex;
         flex-direction: row;
         flex-wrap: wrap;
         padding: 10px;
         justify-content: center;
         row-gap: 10px;
    }
    
}